html {
  height: 100%;
}

body {
  font-family: sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 200px;
}

.content {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 64px;
  height: 100%;
}

.logo {
  display: block;
  float: center;
}

.pixelized {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

.logo img.pixelized {
  width: 160px;
  height: 160px;
}

ul.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: 48px;
  background-color: #baaade;
}

.navbar {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

ul.navbar li {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

ul.navbar li.nav-right {
    float: right;
    height: 100%;
    display: inline-block;
}

ul.navbar li.nav-selected {
  border: none;
  border-bottom: 2px solid #337;
}

ul.navbar li a {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  color: #337;
}

ul.navbar li a:hover {
  background-color: #9888cc;
}

ul.navbar li a span {
  display: inline-block;
  height: 100%;
}

.navbar img {
  display: inline-block;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  margin: auto;
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul.messages {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.bad-message {
  color: #f66;
}

.good-message {
  color: #6a6;
}

.search-form input[type=text] {
  width: 80%;
  padding: 4pt;
  margin: 4pt;
  font-size: 16pt;
  border: none;
  border-radius: 0;
  border: 1px solid #ccc;
  background-color: inherit;
}

.search-form input[type=text]:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.search-form input[type=text]:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.search-form input[type=submit] {
  padding: 12pt;
  margin: 8px;
  font-size: 16pt;
  background-color: #9888cd;
  color: white;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.search-form input[type=submit]:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.search-form input[type=submit]:focus {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  background-color: #baaade;
}

.search-form button {
  padding: 12pt;
  margin: 8px;
  font-size: 16pt;
  background-color: #9888cd;
  color: white;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.search-form button:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.search-form button:focus {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  background-color: #baaade;
}

.paper {
  padding: 2cm;
  border: none;
  box-shadow: 0 0 32px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: serif;
}

.paper p.abstract-text {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10%;
  padding-right: 10%;
}

.column-sel-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  padding: 0;
}

.column-sel {
  display: block;
  float: center;
  text-align: center;
}

.column-label {
  display: inline-block;
  min-width: 120px;
  width: 20%;
  max-width: 150px;
  padding: 0.0em;
  float: center;
  height: 48px;
}

.column-label button {
  padding: 0.8em;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12pt;
  background: #baaade;
  color: #337;
}

.column-label button:hover {
  background-color: #9888cc;
}

.column-label button.selected {
  border-bottom: 2px solid #cfcd77;
  color: #337;
}

.library-content {
  margin-top: 0px;
}

.library-list {
  list-style-type: none;
  margin: 0;
  display: block;
}

.library-list li a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
  display: block;
}

.library-list li {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.library-article {
  display: block;
  text-align: left;
  border-bottom: 2px solid #bbbbbb;
  color: #444;
  padding-left: 8px;
  padding-right: 8px;
}

.library-article:hover {
  background-color: #baaade33;
  color: black;
  border-color: #999;
}

.library-article-authors {
  font-size: 90%;
}

.library-article-title {
  padding-top: 8px;
  margin-top: 0;
}

.library-article-data {
  display: inline-block;
  width: 75%;
}

.update-status {
  float: right;
  height: 100%;
  vertical-align: middle;
  margin: auto;
}

.update-status button {
  display: inline-block;
  height: 100%;
  border: none;
  text-decoration: none;
  padding: 1em;
  margin: 4px;
}

.update-status button:hover {
  filter: brightness(1.1);
}

.library-article:hover .update-status button {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
}

.library-article:hover .update-status button.accept {
  background-color: #6b6;
}

.library-article:hover .update-status button.reject {
  background-color: #f66;
}

img.dummy {
  width: 0;
  border: none;
}

footer {
  height: 200px;
  padding: 16px;
  color: white;
  width: 100%;
  left: 0;
  margin-top: auto;
  background-color: #444477;
  position: absolute;
  bottom: 0;
}

dd.info {
    display: none;
}

dd {
    display: inline-block;
    margin: inherit;
    margin-top: auto;
}

dt label {
    font-size: 75%;
    padding: 0;
    text-align: left;
}

input[type=submit] {
    display: inline-block;
    padding: 16px;
    background-color: #9888cd;
    border: none;
    transition: background-color 0.3s ease-in-out;
    color: white;
    box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #baaade;
}

.form-errors {
    list-style-type: none;
    padding: 0;
}
