@import io.github.harwiltz.sagerank.ArticleMetadata
@(messages: Array[(Int, String)], graphPopulated: Boolean, suggestion: Option[ArticleMetadata] = None)

@main("SageRank", 0) {
<div class="content">
  <div class="logo">
    <img class="pixelized" src="@routes.Assets.versioned("images/SageRankLogo32x32.png")"></img>
    <h1>SageRank</h1>
  </div>

  <form class="search-form">
    <input type="text" id="url" name="url" placeholder="Enter URL of article to add..."><br>
    <button type="submit" formaction="/">Add Article</button>
    @if(graphPopulated) {
    <button type="submit" formaction="/suggestion" style="background-color: #cfcd77;">Suggestion</button>
    } else {
    <button type="submit" formaction="/suggestion" style="background-color: #cfcd77;" disabled>Suggestion</button>
    }
  </form>

  <ul class="messages">
  @for(message <- messages) {
    @if(message._1 == -1) {
    <li class="bad-message">@message._2
    } else if(message._1 == 0) {
    <li class="neutral-message">@message._2
    } else if(message._1 == 1) {
    <li class="good-message">@message._2
    }
  }
  </ul>

  @if(suggestion.nonEmpty) {
  <div class="paper">
    <hr>
    <h1>@suggestion.get.title</h1>
    <hr>
    <p>@suggestion.get.authors.mkString(", ")</p>
    <p><i>@suggestion.get.year</i></p>
    <h2 class="abstract-header">Abstract</h2>
    <p class="abstract-text">@suggestion.get.abs</p>
  </div>
  }
</div>
}
