@(messages: Array[(Int, String)], graphPopulated: Boolean)

@main("SageRank", 0) {
<div class="content">
  <div class="logo">
    <img class="pixelized" src="@routes.Assets.versioned("images/SageRankLogo32x32.png")"></img>
    <h1>SageRank</h1>
  </div>

  <form class="search-form">
    <input type="text" id="url" name="url" placeholder="Enter URL of article to add..."><br>
    <input type="submit" value="Add Article">
  </form>

  <ul class="messages">
  @for(message <- messages) {
    @if(message._1 == -1) {
    <li class="bad-message">@message._2
    } else if(message._1 == 0) {
    <li class="neutral-message">@message._2
    } else if(message._1 == 1) {
    <li class="good-message">@message._2
    }
  }
  </ul>
</div>
}
